<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Tiltak og kapabiliteter</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Tiltak og kapabiliteter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5c26b44cc86d4e7abcb674366c74b7fa.png" alt="Tiltak og kapabiliteter" usemap="#id-5c26b44cc86d4e7abcb674366c74b7famap"/>
			   <map name="id-5c26b44cc86d4e7abcb674366c74b7famap">
				  		<area shape="rect" coords="10,678,147,750" href="../elements/id-aead656dd7e34f9c9551bfa90340c453.html"  target="element">
				  		<area shape="rect" coords="370,678,507,750" href="../elements/id-c3adb4e8f1834a248a4099e5291bf5da.html"  target="element">
				  		<area shape="rect" coords="270,818,407,890" href="../elements/id-405f0e657b9f4fe9bf866df44b3961fc.html"  target="element">
				  		<area shape="rect" coords="104,817,241,889" href="../elements/id-9f6addf88dad40b49f64bdf1496d9698.html"  target="element">
				  		<area shape="rect" coords="406,10,575,116" href="../elements/id-2a93d658a2e040d4817e212b7007088c.html"  target="element">
				  		<area shape="rect" coords="72,358,241,464" href="../elements/id-daa4d9763ed343eeb92ccaeffafb2f9c.html"  target="element">
				  		<area shape="rect" coords="72,190,241,296" href="../elements/id-dd196b33e3bd4e9586fb6f8dc773c901.html"  target="element">
				  		<area shape="rect" coords="1162,769,1177,784" href="../elements/id-470ce24a5bef4c4e9a1dcae8fe1842aa.html"  target="element">
				  		<area shape="rect" coords="1210,749,1330,804" href="../elements/id-b4df94b0adc346d79b8f418aa060e99b.html"  target="element">
				  		<area shape="rect" coords="1210,678,1330,733" href="../elements/id-121aa791ed354a17a0b6024a4f8dc340.html"  target="element">
				  		<area shape="rect" coords="922,846,937,861" href="../elements/id-951d44a12d8a440e940204bf805a8841.html"  target="element">
				  		<area shape="rect" coords="1006,826,1126,881" href="../elements/id-b5efd104c4a247b1ad4597961b794ca6.html"  target="element">
				  		<area shape="rect" coords="1006,749,1126,804" href="../elements/id-d41b2e22cdd04ee88445ebd42b6ba845.html"  target="element">
				  		<area shape="rect" coords="1210,826,1330,881" href="../elements/id-b0d47cdf2481478695793e60d7726fbb.html"  target="element">
				  		<area shape="rect" coords="1006,904,1126,959" href="../elements/id-f7a2bdca43524868b4d7ebe84f1ad554.html"  target="element">
				  		<area shape="rect" coords="850,524,987,608" href="../elements/id-245f0da376c8439a9a54986668765552.html"  target="element">
				  		<area shape="rect" coords="1074,524,1211,608" href="../elements/id-d1f27cf8bdc9422383a26e5c456081e6.html"  target="element">
				  		<area shape="rect" coords="802,358,971,464" href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html"  target="element">
				  		<area shape="rect" coords="286,358,455,464" href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html"  target="element">
				  		<area shape="rect" coords="550,358,719,464" href="../elements/id-cadafe8393974360af6b6b9015fb6de4.html"  target="element">
				  		<area shape="rect" coords="742,816,879,889" href="../elements/id-648c3056fa68460ea3502d651edb6192.html"  target="element">
				  		<area shape="rect" coords="406,190,575,296" href="../elements/id-4dbb26c682cc4dc19d71a7f5290f5294.html"  target="element">
				  		<area shape="rect" coords="190,678,327,750" href="../elements/id-6ad21d6453734488a4df191b947cc5db.html"  target="element">
				  		<area shape="rect" coords="699,190,868,296" href="../elements/id-6f1c012c9cd8496ea6cdf392c6637ecb.html"  target="element">
				  		<area shape="rect" coords="742,946,879,1019" href="../elements/id-726944ada54843529f3e901ec0a0a708.html"  target="element">
				  		<area shape="rect" coords="544,678,681,750" href="../elements/id-e67d90fdfb504adfab4df1145266e995.html"  target="element">
				  		<area shape="rect" coords="544,946,681,1019" href="../elements/id-332da084b53d42e1be0d8631a2c5de64.html"  target="element">
				  		<area shape="rect" coords="544,817,681,890" href="../elements/id-e21152b81d174f68b74b2f33a9973d91.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e21152b81d174f68b74b2f33a9973d91.html" target="element"> Utarbeide felles metode for vurdering </a> </td>
											    <td> <a href="../elements/id-e21152b81d174f68b74b2f33a9973d91.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-332da084b53d42e1be0d8631a2c5de64.html" target="element"> Utarbeide felles spr&#229;k/kategori for vurdering </a> </td>
											    <td> <a href="../elements/id-332da084b53d42e1be0d8631a2c5de64.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e67d90fdfb504adfab4df1145266e995.html" target="element"> Etablere felles verkt&#248;y for vurdering </a> </td>
											    <td> <a href="../elements/id-e67d90fdfb504adfab4df1145266e995.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-726944ada54843529f3e901ec0a0a708.html" target="element"> Etablere felles kilde til informasjon </a> </td>
											    <td> <a href="../elements/id-726944ada54843529f3e901ec0a0a708.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f1c012c9cd8496ea6cdf392c6637ecb.html" target="element"> Legge til rette for bedre samarbeid p&#229; tvers av sykehus og kommune for eldre med skr&#248;pelighet </a> </td>
											    <td> <a href="../elements/id-6f1c012c9cd8496ea6cdf392c6637ecb.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ad21d6453734488a4df191b947cc5db.html" target="element"> Etablere felles retningslinjer for behandling og forebygging </a> </td>
											    <td> <a href="../elements/id-6ad21d6453734488a4df191b947cc5db.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4dbb26c682cc4dc19d71a7f5290f5294.html" target="element"> Forebygge funksjonsfall og skr&#248;pelighetBidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
											    <td> <a href="../elements/id-4dbb26c682cc4dc19d71a7f5290f5294.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-648c3056fa68460ea3502d651edb6192.html" target="element"> Utarbeide samhandling/samarbeids-verkt&#248;y </a> </td>
											    <td> <a href="../elements/id-648c3056fa68460ea3502d651edb6192.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cadafe8393974360af6b6b9015fb6de4.html" target="element"> Felles funksjons-vurdering i hele helsetjenesten </a> </td>
											    <td> <a href="../elements/id-cadafe8393974360af6b6b9015fb6de4.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element"> Unng&#229; un&#248;dvendige innleggelser og reinnleggelser </a> </td>
											    <td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html" target="element"> Bedre informasjonsflyt og beslutningsst&#248;tte for behandling og oppf&#248;lging av eldre med skr&#248;pelighet </a> </td>
											    <td> <a href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1f27cf8bdc9422383a26e5c456081e6.html" target="element"> Gode epikriser </a> </td>
											    <td> <a href="../elements/id-d1f27cf8bdc9422383a26e5c456081e6.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-245f0da376c8439a9a54986668765552.html" target="element"> Tilstrekkelig og forst&#229;elig informasjon i alle deler av pasientbehandlingen </a> </td>
											    <td> <a href="../elements/id-245f0da376c8439a9a54986668765552.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f7a2bdca43524868b4d7ebe84f1ad554.html" target="element"> Meldinger (PLO dialog) </a> </td>
											    <td> <a href="../elements/id-f7a2bdca43524868b4d7ebe84f1ad554.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b0d47cdf2481478695793e60d7726fbb.html" target="element"> Felles plan (DBEP) </a> </td>
											    <td> <a href="../elements/id-b0d47cdf2481478695793e60d7726fbb.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d41b2e22cdd04ee88445ebd42b6ba845.html" target="element"> Funksjonalitet i EPJ </a> </td>
											    <td> <a href="../elements/id-d41b2e22cdd04ee88445ebd42b6ba845.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5efd104c4a247b1ad4597961b794ca6.html" target="element"> Portall&#248;sning </a> </td>
											    <td> <a href="../elements/id-b5efd104c4a247b1ad4597961b794ca6.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-951d44a12d8a440e940204bf805a8841.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-951d44a12d8a440e940204bf805a8841.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-121aa791ed354a17a0b6024a4f8dc340.html" target="element"> API integrasjon </a> </td>
											    <td> <a href="../elements/id-121aa791ed354a17a0b6024a4f8dc340.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b4df94b0adc346d79b8f418aa060e99b.html" target="element"> SMART on FHIR </a> </td>
											    <td> <a href="../elements/id-b4df94b0adc346d79b8f418aa060e99b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-470ce24a5bef4c4e9a1dcae8fe1842aa.html" target="element"> Junction </a> </td>
											    <td> <a href="../elements/id-470ce24a5bef4c4e9a1dcae8fe1842aa.html" target="element" class="i18n-elementtype-Junction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd196b33e3bd4e9586fb6f8dc773c901.html" target="element"> Rett behandling og oppf&#248;lging til rett tid. Igjennom &#229; bidra til &#229; redusere over- og underbehandling av eldre med skr&#248;pelighet.  </a> </td>
											    <td> <a href="../elements/id-dd196b33e3bd4e9586fb6f8dc773c901.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-daa4d9763ed343eeb92ccaeffafb2f9c.html" target="element"> Avdekke behov tidlig og sette inn hensiktsmessige tiltak. Bidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
											    <td> <a href="../elements/id-daa4d9763ed343eeb92ccaeffafb2f9c.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a93d658a2e040d4817e212b7007088c.html" target="element"> &#216;kt pasientsikkerhet og livskvalitet for skr&#248;pelige eldre og en mer b&#230;rekraftig ressursbruk </a> </td>
											    <td> <a href="../elements/id-2a93d658a2e040d4817e212b7007088c.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f6addf88dad40b49f64bdf1496d9698.html" target="element"> Kvalitetsikrede egenmestrings-tiltak </a> </td>
											    <td> <a href="../elements/id-9f6addf88dad40b49f64bdf1496d9698.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-405f0e657b9f4fe9bf866df44b3961fc.html" target="element"> Kvalitetssikrede behandlings-forl&#248;p for skr&#248;pelighet </a> </td>
											    <td> <a href="../elements/id-405f0e657b9f4fe9bf866df44b3961fc.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3adb4e8f1834a248a4099e5291bf5da.html" target="element"> Etablere felles verkt&#248;y for planlegging </a> </td>
											    <td> <a href="../elements/id-c3adb4e8f1834a248a4099e5291bf5da.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aead656dd7e34f9c9551bfa90340c453.html" target="element"> Oversikt over eksisterende helsehjelp og andre tjenester </a> </td>
											    <td> <a href="../elements/id-aead656dd7e34f9c9551bfa90340c453.html" target="element" class="i18n-elementtype-CourseOfAction">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0c23e79c4dbe416baa9703a3ab2b7699.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c23e79c4dbe416baa9703a3ab2b7699.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e21152b81d174f68b74b2f33a9973d91.html" target="element"> Utarbeide felles metode for vurdering </a> </td>
																		<td> <a href="../elements/id-332da084b53d42e1be0d8631a2c5de64.html" target="element"> Utarbeide felles spr&#229;k/kategori for vurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-70add1079ae441c58a5374536c157842.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70add1079ae441c58a5374536c157842.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e67d90fdfb504adfab4df1145266e995.html" target="element"> Etablere felles verkt&#248;y for vurdering </a> </td>
																		<td> <a href="../elements/id-e21152b81d174f68b74b2f33a9973d91.html" target="element"> Utarbeide felles metode for vurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40626a5332f14abfb4db031251ba7096.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40626a5332f14abfb4db031251ba7096.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e67d90fdfb504adfab4df1145266e995.html" target="element"> Etablere felles verkt&#248;y for vurdering </a> </td>
																		<td> <a href="../elements/id-cadafe8393974360af6b6b9015fb6de4.html" target="element"> Felles funksjons-vurdering i hele helsetjenesten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f0f968e50c842ed8741aa6f8c5c7e6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f0f968e50c842ed8741aa6f8c5c7e6e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e67d90fdfb504adfab4df1145266e995.html" target="element"> Etablere felles verkt&#248;y for vurdering </a> </td>
																		<td> <a href="../elements/id-648c3056fa68460ea3502d651edb6192.html" target="element"> Utarbeide samhandling/samarbeids-verkt&#248;y </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ed14e9c0fa1440b0b768f47a8ceef9e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed14e9c0fa1440b0b768f47a8ceef9e7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f1c012c9cd8496ea6cdf392c6637ecb.html" target="element"> Legge til rette for bedre samarbeid p&#229; tvers av sykehus og kommune for eldre med skr&#248;pelighet </a> </td>
																		<td> <a href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html" target="element"> Bedre informasjonsflyt og beslutningsst&#248;tte for behandling og oppf&#248;lging av eldre med skr&#248;pelighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd906e86c7ce48b1a50c1a7344ab578c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd906e86c7ce48b1a50c1a7344ab578c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6f1c012c9cd8496ea6cdf392c6637ecb.html" target="element"> Legge til rette for bedre samarbeid p&#229; tvers av sykehus og kommune for eldre med skr&#248;pelighet </a> </td>
																		<td> <a href="../elements/id-2a93d658a2e040d4817e212b7007088c.html" target="element"> &#216;kt pasientsikkerhet og livskvalitet for skr&#248;pelige eldre og en mer b&#230;rekraftig ressursbruk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2ad9eb570174404a985e1c06d4ad8355.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ad9eb570174404a985e1c06d4ad8355.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad21d6453734488a4df191b947cc5db.html" target="element"> Etablere felles retningslinjer for behandling og forebygging </a> </td>
																		<td> <a href="../elements/id-9f6addf88dad40b49f64bdf1496d9698.html" target="element"> Kvalitetsikrede egenmestrings-tiltak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddc749b1d9134d8daf85b60cf88229e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddc749b1d9134d8daf85b60cf88229e3.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad21d6453734488a4df191b947cc5db.html" target="element"> Etablere felles retningslinjer for behandling og forebygging </a> </td>
																		<td> <a href="../elements/id-405f0e657b9f4fe9bf866df44b3961fc.html" target="element"> Kvalitetssikrede behandlings-forl&#248;p for skr&#248;pelighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e1b0b3f3d6194614a1b2f5341435ec32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1b0b3f3d6194614a1b2f5341435ec32.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad21d6453734488a4df191b947cc5db.html" target="element"> Etablere felles retningslinjer for behandling og forebygging </a> </td>
																		<td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element"> Unng&#229; un&#248;dvendige innleggelser og reinnleggelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5b271f185d664c1093aee939846d5d01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b271f185d664c1093aee939846d5d01.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6ad21d6453734488a4df191b947cc5db.html" target="element"> Etablere felles retningslinjer for behandling og forebygging </a> </td>
																		<td> <a href="../elements/id-daa4d9763ed343eeb92ccaeffafb2f9c.html" target="element"> Avdekke behov tidlig og sette inn hensiktsmessige tiltak. Bidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2cb3c15f2389475e8ba0eafd03462a2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cb3c15f2389475e8ba0eafd03462a2a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4dbb26c682cc4dc19d71a7f5290f5294.html" target="element"> Forebygge funksjonsfall og skr&#248;pelighetBidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																		<td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element"> Unng&#229; un&#248;dvendige innleggelser og reinnleggelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3aeb0a8578e4002900c1a8f62080083.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3aeb0a8578e4002900c1a8f62080083.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4dbb26c682cc4dc19d71a7f5290f5294.html" target="element"> Forebygge funksjonsfall og skr&#248;pelighetBidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																		<td> <a href="../elements/id-2a93d658a2e040d4817e212b7007088c.html" target="element"> &#216;kt pasientsikkerhet og livskvalitet for skr&#248;pelige eldre og en mer b&#230;rekraftig ressursbruk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0bec26b9f7944f638651fb63217d7aa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0bec26b9f7944f638651fb63217d7aa2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-648c3056fa68460ea3502d651edb6192.html" target="element"> Utarbeide samhandling/samarbeids-verkt&#248;y </a> </td>
																		<td> <a href="../elements/id-951d44a12d8a440e940204bf805a8841.html" target="element"> Junction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-18ff4bf016a849fa990727fd32c17d85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18ff4bf016a849fa990727fd32c17d85.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-648c3056fa68460ea3502d651edb6192.html" target="element"> Utarbeide samhandling/samarbeids-verkt&#248;y </a> </td>
																		<td> <a href="../elements/id-726944ada54843529f3e901ec0a0a708.html" target="element"> Etablere felles kilde til informasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb8933f7f90843deba72eb3230a41f2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb8933f7f90843deba72eb3230a41f2c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-648c3056fa68460ea3502d651edb6192.html" target="element"> Utarbeide samhandling/samarbeids-verkt&#248;y </a> </td>
																		<td> <a href="../elements/id-e21152b81d174f68b74b2f33a9973d91.html" target="element"> Utarbeide felles metode for vurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-de26c69e1f9d4f378564249761c33b28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de26c69e1f9d4f378564249761c33b28.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cadafe8393974360af6b6b9015fb6de4.html" target="element"> Felles funksjons-vurdering i hele helsetjenesten </a> </td>
																		<td> <a href="../elements/id-4dbb26c682cc4dc19d71a7f5290f5294.html" target="element"> Forebygge funksjonsfall og skr&#248;pelighetBidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d7394a4899a54cb3ada43b862c4d46a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7394a4899a54cb3ada43b862c4d46a9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cadafe8393974360af6b6b9015fb6de4.html" target="element"> Felles funksjons-vurdering i hele helsetjenesten </a> </td>
																		<td> <a href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html" target="element"> Bedre informasjonsflyt og beslutningsst&#248;tte for behandling og oppf&#248;lging av eldre med skr&#248;pelighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-951dac4bd03a48128facaa419be3289b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-951dac4bd03a48128facaa419be3289b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cadafe8393974360af6b6b9015fb6de4.html" target="element"> Felles funksjons-vurdering i hele helsetjenesten </a> </td>
																		<td> <a href="../elements/id-6f1c012c9cd8496ea6cdf392c6637ecb.html" target="element"> Legge til rette for bedre samarbeid p&#229; tvers av sykehus og kommune for eldre med skr&#248;pelighet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6f72a8946ddd458d8834c7f268cecbbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f72a8946ddd458d8834c7f268cecbbb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element"> Unng&#229; un&#248;dvendige innleggelser og reinnleggelser </a> </td>
																		<td> <a href="../elements/id-6f1c012c9cd8496ea6cdf392c6637ecb.html" target="element"> Legge til rette for bedre samarbeid p&#229; tvers av sykehus og kommune for eldre med skr&#248;pelighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a464fcf7d6974b48b85b83cb9683de2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a464fcf7d6974b48b85b83cb9683de2f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element"> Unng&#229; un&#248;dvendige innleggelser og reinnleggelser </a> </td>
																		<td> <a href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html" target="element"> Bedre informasjonsflyt og beslutningsst&#248;tte for behandling og oppf&#248;lging av eldre med skr&#248;pelighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5bfba21a564a4ac7ba42eb2dadd85b46.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5bfba21a564a4ac7ba42eb2dadd85b46.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element"> Unng&#229; un&#248;dvendige innleggelser og reinnleggelser </a> </td>
																		<td> <a href="../elements/id-cadafe8393974360af6b6b9015fb6de4.html" target="element"> Felles funksjons-vurdering i hele helsetjenesten </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d1f08d0530064ec5913faab0cfe79c04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1f08d0530064ec5913faab0cfe79c04.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html" target="element"> Bedre informasjonsflyt og beslutningsst&#248;tte for behandling og oppf&#248;lging av eldre med skr&#248;pelighet </a> </td>
																		<td> <a href="../elements/id-245f0da376c8439a9a54986668765552.html" target="element"> Tilstrekkelig og forst&#229;elig informasjon i alle deler av pasientbehandlingen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c92f168429144ada95e4bcd00928e424.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c92f168429144ada95e4bcd00928e424.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html" target="element"> Bedre informasjonsflyt og beslutningsst&#248;tte for behandling og oppf&#248;lging av eldre med skr&#248;pelighet </a> </td>
																		<td> <a href="../elements/id-d1f27cf8bdc9422383a26e5c456081e6.html" target="element"> Gode epikriser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88746e8294664192b52c116c2da0f5a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88746e8294664192b52c116c2da0f5a2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8e15745455f9413581b3d9ecc0ac5d09.html" target="element"> Bedre informasjonsflyt og beslutningsst&#248;tte for behandling og oppf&#248;lging av eldre med skr&#248;pelighet </a> </td>
																		<td> <a href="../elements/id-e67d90fdfb504adfab4df1145266e995.html" target="element"> Etablere felles verkt&#248;y for vurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d86e5d8659f5417dad2cddc184d67d59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d86e5d8659f5417dad2cddc184d67d59.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1f27cf8bdc9422383a26e5c456081e6.html" target="element"> Gode epikriser </a> </td>
																		<td> <a href="../elements/id-245f0da376c8439a9a54986668765552.html" target="element"> Tilstrekkelig og forst&#229;elig informasjon i alle deler av pasientbehandlingen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6f9fd8e45ab8454ba0a1307fd3001d27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f9fd8e45ab8454ba0a1307fd3001d27.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b0d47cdf2481478695793e60d7726fbb.html" target="element"> Felles plan (DBEP) </a> </td>
																		<td> <a href="../elements/id-b5efd104c4a247b1ad4597961b794ca6.html" target="element"> Portall&#248;sning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e49abeddfcb44d2fab5f1f0df5d313f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e49abeddfcb44d2fab5f1f0df5d313f2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d41b2e22cdd04ee88445ebd42b6ba845.html" target="element"> Funksjonalitet i EPJ </a> </td>
																		<td> <a href="../elements/id-470ce24a5bef4c4e9a1dcae8fe1842aa.html" target="element"> Junction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1a22a1bc70b44db873bb997a1908822.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1a22a1bc70b44db873bb997a1908822.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-951d44a12d8a440e940204bf805a8841.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-d41b2e22cdd04ee88445ebd42b6ba845.html" target="element"> Funksjonalitet i EPJ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5cf3ee14224740ef8b164d4c1067e759.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5cf3ee14224740ef8b164d4c1067e759.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-951d44a12d8a440e940204bf805a8841.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-b5efd104c4a247b1ad4597961b794ca6.html" target="element"> Portall&#248;sning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a154bf945a6f4eb98b9f18f11c65883f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a154bf945a6f4eb98b9f18f11c65883f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-951d44a12d8a440e940204bf805a8841.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-f7a2bdca43524868b4d7ebe84f1ad554.html" target="element"> Meldinger (PLO dialog) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ad11eda2d7864c17a54311801b0c2bf8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad11eda2d7864c17a54311801b0c2bf8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-470ce24a5bef4c4e9a1dcae8fe1842aa.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-121aa791ed354a17a0b6024a4f8dc340.html" target="element"> API integrasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01d37ba310354217a960684b7dfa18c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01d37ba310354217a960684b7dfa18c0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-470ce24a5bef4c4e9a1dcae8fe1842aa.html" target="element"> Junction </a> </td>
																		<td> <a href="../elements/id-b4df94b0adc346d79b8f418aa060e99b.html" target="element"> SMART on FHIR </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-067c0f1e167a4910a58fa4d31b04cc57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-067c0f1e167a4910a58fa4d31b04cc57.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dd196b33e3bd4e9586fb6f8dc773c901.html" target="element"> Rett behandling og oppf&#248;lging til rett tid. Igjennom &#229; bidra til &#229; redusere over- og underbehandling av eldre med skr&#248;pelighet.  </a> </td>
																		<td> <a href="../elements/id-2a93d658a2e040d4817e212b7007088c.html" target="element"> &#216;kt pasientsikkerhet og livskvalitet for skr&#248;pelige eldre og en mer b&#230;rekraftig ressursbruk </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7642cf5539e6445d999974ccf060609b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7642cf5539e6445d999974ccf060609b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daa4d9763ed343eeb92ccaeffafb2f9c.html" target="element"> Avdekke behov tidlig og sette inn hensiktsmessige tiltak. Bidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																		<td> <a href="../elements/id-4dbb26c682cc4dc19d71a7f5290f5294.html" target="element"> Forebygge funksjonsfall og skr&#248;pelighetBidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed3c0623d89f4044828e3a9a07a9f98f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed3c0623d89f4044828e3a9a07a9f98f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daa4d9763ed343eeb92ccaeffafb2f9c.html" target="element"> Avdekke behov tidlig og sette inn hensiktsmessige tiltak. Bidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																		<td> <a href="../elements/id-dd196b33e3bd4e9586fb6f8dc773c901.html" target="element"> Rett behandling og oppf&#248;lging til rett tid. Igjennom &#229; bidra til &#229; redusere over- og underbehandling av eldre med skr&#248;pelighet.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-92ae4bad17a94016b84c06f81d5a5df0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-92ae4bad17a94016b84c06f81d5a5df0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-daa4d9763ed343eeb92ccaeffafb2f9c.html" target="element"> Avdekke behov tidlig og sette inn hensiktsmessige tiltak. Bidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																		<td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element"> Unng&#229; un&#248;dvendige innleggelser og reinnleggelser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f2600b030c7846abbf954a3a50d5ff38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2600b030c7846abbf954a3a50d5ff38.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c3adb4e8f1834a248a4099e5291bf5da.html" target="element"> Etablere felles verkt&#248;y for planlegging </a> </td>
																		<td> <a href="../elements/id-160e95ebc4754e5fa0a61542c2c0f475.html" target="element"> Unng&#229; un&#248;dvendige innleggelser og reinnleggelser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-825cbdb6a59040fdbed57e63fc6fac16.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-825cbdb6a59040fdbed57e63fc6fac16.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aead656dd7e34f9c9551bfa90340c453.html" target="element"> Oversikt over eksisterende helsehjelp og andre tjenester </a> </td>
																		<td> <a href="../elements/id-daa4d9763ed343eeb92ccaeffafb2f9c.html" target="element"> Avdekke behov tidlig og sette inn hensiktsmessige tiltak. Bidrar til mestring for bruker og redusert ressursbruk i helsetjenesten. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fad644f302344ea0912c1c99f1d6218e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fad644f302344ea0912c1c99f1d6218e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aead656dd7e34f9c9551bfa90340c453.html" target="element"> Oversikt over eksisterende helsehjelp og andre tjenester </a> </td>
																		<td> <a href="../elements/id-c3adb4e8f1834a248a4099e5291bf5da.html" target="element"> Etablere felles verkt&#248;y for planlegging </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>